body {
	color: black;
}

#image-container {
	max-width: 100%;
}


a {
	text-decoration: none;
	margin-top: 10px;
	color: #279C6D;
}

.fa-facebook {
	color: #3b5998;
}

.fa-twitter {
	color: #55acee;
}

@media screen and (min-width: 500px){
	#image-container {
		display: flex;
	}
}